<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="C:\Users\owner\Documents\Visual Studio 2015\Projects\TestingProject01\TestingProject01\Output\TestLog.log"/>
      <param name="AppendtoFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <category name="TrainingRite Test Framework">
      <priority value="ALL"/>
    </category>
  </log4net>

  <appSettings>
    <add key="server" value=""/>
    <add key="login" value=""/>
    <add key="password" value=""/>
    <add key="database" value=""/>
    <add key="rootdir" value="C:\Users\owner\Documents\Visual Studio 2015\Projects\TestingProject01\TestingProject01"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
